aws/06 AWS Lambda and the Serverless Framework/8 Step Function & State Machine Using VS Code/CatAgeMachine.asl.json
{
  "StartAt": "Pass",
  "States": {
    "Pass": {
      "Type": "Pass",
      "Next": "Lambda Invoke"
    },
    "Lambda Invoke": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:079366237922:function:aws-node-project-dev-hello:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "TimeoutSeconds": 10,
      "Next": "CatAge"
    },
    "CatAge": {
      "Type": "Pass",
      "End": true
    }
  },
  "Comment": "Age of a cat in human years"
}