aws/08 More Than Certified in Terraform/2 Terraform Basics and Docker/terraform-docker/noderedvol/flows.json
[
    {
        "id": "c694ddfa34de300f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "72d1cbd97732978d",
        "type": "inject",
        "z": "c694ddfa34de300f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "0875abf04699bf36"
            ]
        ]
    },
    {
        "id": "0875abf04699bf36",
        "type": "debug",
        "z": "c694ddfa34de300f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 320,
        "wires": []
    },
    {
        "id": "e28f3d3815a76ca0",
        "type": "complete",
        "z": "c694ddfa34de300f",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 370,
        "y": 380,
        "wires": [
            [
                "0875abf04699bf36"
            ]
        ]
    }
]